<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.huawei.hms.flutter.analytics">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <meta-data
            android:name="com.huawei.agconnect.AccessNetwork"
            android:value="false" />

        <meta-data
                android:name="analyticskit_pushtoken_collection_enabled"
                android:value="false">
        </meta-data>
    </application>
</manifest>
